USE [EntradaXML]
GO
/****** Object:  Table [dbo].[ECF_ARQUIVO]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_ARQUIVO](
	[ECF_ARQUIVO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ECF_DATA] [datetime] NULL,
	[NUMERO_CONTA] [varchar](10) NULL,
	[CENTRO_CUSTO] [varchar](10) NULL,
	[VALOR_ORIGINAL] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ECF_ARQUIVO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_CENTRO_CUSTO]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_CENTRO_CUSTO](
	[ECF_CENTRO_CUSTO_ID] [int] NOT NULL,
	[CENTRO_CUSTO] [varchar](10) NULL,
	[CATEGORIA] [varchar](30) NULL,
	[TITULO] [varchar](100) NULL,
	[PERCENTUAL] [decimal](12, 2) NULL,
	[PERCENTUAL2] [decimal](12, 2) NULL,
	[GRUPO] [int] NULL,
	[TP_CENTRO_CUSTO_ID] [int] NULL,
	[TP_CENTRO_CUSTO] [varchar](30) NULL,
 CONSTRAINT [PK__ECF_CENT__64A52152A8D80FFD] PRIMARY KEY CLUSTERED 
(
	[ECF_CENTRO_CUSTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_CONSULTA]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_CONSULTA](
	[ECF_CONSULTA_ID] [int] NOT NULL,
	[NOME] [varchar](50) NULL,
	[USUARIO_SAP] [varchar](30) NULL,
	[QUERY] [varchar](40) NULL,
	[VARIANTE] [varchar](20) NULL,
	[ANO] [varchar](4) NULL,
	[DATA_CADASTRO] [datetime] NULL,
	[SELECAO] [char](1) NULL,
	[Arquivo] [varchar](100) NULL,
	[ANO_FISCAL] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ECF_CONSULTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_CONTA]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_CONTA](
	[ECF_CONTA_ID] [int] NOT NULL,
	[NUMERO_CONTA] [varchar](10) NULL,
	[CODIGO_LINHA] [varchar](3) NULL,
	[DESCRICAO] [varchar](100) NULL,
	[DATACADASTRO] [datetime] NULL,
	[DESC_L210] [varchar](100) NULL,
	[GRUPO] [int] NULL,
	[ORDEM] [int] NULL,
	[SUBGRUPO] [float] NULL,
 CONSTRAINT [PK__ECF_CONT__26108CF74E8BA4E7] PRIMARY KEY CLUSTERED 
(
	[ECF_CONTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_CONTA_SALDO]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_CONTA_SALDO](
	[ECF_CONTA_SALDO_ID] [int] NOT NULL,
	[ECF_CONTA_ID] [int] NULL,
	[DT_EXERCICIOFISCAL] [datetime] NULL,
	[EXERCICIO] [varchar](4) NULL,
	[PERIODO_FISCAL] [varchar](2) NULL,
	[SALDO] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ECF_CONTA_SALDO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_CONTROLE]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_CONTROLE](
	[ECF_CONTROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ANO] [varchar](4) NULL,
	[ANO_ANTERIOR] [varchar](4) NULL,
	[DATA_IMPORT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ECF_CONTROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_FBL3N]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_FBL3N](
	[FBL3N_ID] [int] IDENTITY(1,1) NOT NULL,
	[CD] [varchar](4) NULL,
	[NUMERO_CONTA] [varchar](10) NULL,
	[CENTRO_CUSTO] [varchar](10) NULL,
	[DATA] [date] NULL,
	[ANO_BASE] [varchar](4) NULL,
	[ANO_FISCAL] [varchar](4) NULL,
	[MES_FISCAL] [varchar](2) NULL,
	[VALOR] [decimal](18, 2) NULL,
	[MOEDA] [varchar](5) NULL,
	[DC] [varchar](1) NULL,
	[DATA_IMPORT] [datetime] NULL,
	[ECF_CONTROLE_ID] [int] NULL,
 CONSTRAINT [PK__FBL3N__79375947D79C8650] PRIMARY KEY CLUSTERED 
(
	[FBL3N_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_MOV_F01]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_MOV_F01](
	[ECF_MOV_F01_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_CONTA] [varchar](10) NULL,
	[TIPO] [char](1) NULL,
	[VALOR_FIS_01] [decimal](18, 2) NULL,
	[VALOR_FIS_02] [decimal](18, 2) NULL,
	[VALOR_FIS_03] [decimal](18, 2) NULL,
	[VALOR_FIS_04] [decimal](18, 2) NULL,
	[VALOR_FIS_05] [decimal](18, 2) NULL,
	[VALOR_FIS_06] [decimal](18, 2) NULL,
	[VALOR_FIS_07] [decimal](18, 2) NULL,
	[VALOR_FIS_08] [decimal](18, 2) NULL,
	[VALOR_FIS_09] [decimal](18, 2) NULL,
	[VALOR_FIS_10] [decimal](18, 2) NULL,
	[VALOR_FIS_11] [decimal](18, 2) NULL,
	[VALOR_FIS_12] [decimal](18, 2) NULL,
	[VALOR_FIS_13] [decimal](18, 2) NULL,
	[ANO] [int] NULL,
	[EMPRESA] [varchar](4) NULL,
	[DATA_IMPORT] [datetime] NULL,
	[ECF_CONTROLE_ID] [int] NULL,
 CONSTRAINT [PK__ECF_MOV___D6F38EB74D875413] PRIMARY KEY CLUSTERED 
(
	[ECF_MOV_F01_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_MOV_KE5Z]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_MOV_KE5Z](
	[ECF_MOV_KE5Z_ID] [int] IDENTITY(1,1) NOT NULL,
	[Plant] [varchar](4) NULL,
	[DC] [char](1) NULL,
	[ACC_NUMBER] [varchar](20) NULL,
	[PURCHASING_DOC] [varchar](20) NULL,
	[ACC_NUMBER_VEN_CRE] [varchar](20) NULL,
	[NAME] [varchar](100) NULL,
	[POSITION_PERIODO] [varchar](3) NULL,
	[ANO_BASE] [varchar](4) NULL,
	[FISCAL_YEAR] [varchar](4) NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[MOEDA] [varchar](3) NULL,
	[PAIS] [varchar](4) NULL,
	[DATA_IMPORT] [datetime] NULL,
	[ECF_CONTROLE_ID] [int] NULL,
	[CENTRO_CUSTO] [varchar](10) NULL,
 CONSTRAINT [PK__ECF_MOV___2872FCA46C256BC5] PRIMARY KEY CLUSTERED 
(
	[ECF_MOV_KE5Z_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_PROCESSADO]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_PROCESSADO](
	[ECF_PROCESSADO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATA_PROCESSAMENTO] [datetime] NULL,
	[NUMERO_CONTA] [varchar](10) NULL,
	[CODIGO_LINHA] [int] NULL,
	[CENTRO_CUSTO] [varchar](10) NULL,
	[PERCENTUAL] [decimal](12, 2) NULL,
	[VALOR_ORIGINAL] [decimal](12, 2) NULL,
	[VALOR_CALCULADO] [decimal](12, 2) NULL,
	[VALOR_DIF] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ECF_PROCESSADO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_SALDO]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_SALDO](
	[ECF_SALDO_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPRESA] [varchar](4) NULL,
	[ORDEM] [int] NULL,
	[CODIGO_LINHA] [varchar](3) NULL,
	[DESC_L210] [varchar](100) NULL,
	[SUBGRUPO] [int] NULL,
	[ANO] [varchar](4) NULL,
	[ANO_ANTERIOR] [varchar](4) NULL,
	[JANEIRO] [decimal](18, 2) NULL,
	[FEVEREIRO] [decimal](18, 2) NULL,
	[MARCO] [decimal](18, 2) NULL,
	[ABRIL] [decimal](18, 2) NULL,
	[MAIO] [decimal](18, 2) NULL,
	[JUNHO] [decimal](18, 2) NULL,
	[JULHO] [decimal](18, 2) NULL,
	[AGOSTO] [decimal](18, 2) NULL,
	[SETEMBRO] [decimal](18, 2) NULL,
	[OUTUBRO] [decimal](18, 2) NULL,
	[NOVEMBRO] [decimal](18, 2) NULL,
	[DEZEMBRO] [decimal](18, 2) NULL,
	[DATA_IMPORT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ECF_SALDO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECF_VINCULO]    Script Date: 5/15/2020 12:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECF_VINCULO](
	[ECF_VINCULO_ID] [int] IDENTITY(1,1) NOT NULL,
	[GRUPO] [int] NULL,
	[ECF_CENTRO_CUSTO_ID] [int] NULL,
	[ECF_CENTRO_CUSTO_FILHO] [int] NULL,
	[PERCENTUAL] [decimal](18, 2) NULL,
	[DT_EXERCICIOFISCAL] [varchar](4) NULL,
	[EXERCICIO] [varchar](4) NULL,
	[PERIODO_FISCAL] [varchar](2) NULL,
	[PERIODO] [smallint] NULL,
	[DATACADASTRO] [datetime] NULL,
 CONSTRAINT [PK__ECF_VINC__92118C9B9BFF9177] PRIMARY KEY CLUSTERED 
(
	[ECF_VINCULO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ECF_CONSULTA] ADD  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[ECF_CONSULTA] ADD  CONSTRAINT [DF_ECF_CONSULTA_SELECAO]  DEFAULT ('S') FOR [SELECAO]
GO
ALTER TABLE [dbo].[ECF_CONTA] ADD  CONSTRAINT [DF__ECF_CONTA__DATAC__3E52440B]  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[ECF_CONTROLE] ADD  DEFAULT (getdate()) FOR [DATA_IMPORT]
GO
ALTER TABLE [dbo].[ECF_FBL3N] ADD  CONSTRAINT [DF__FBL3N__DATA_IMPO__3C34F16F]  DEFAULT (getdate()) FOR [DATA_IMPORT]
GO
ALTER TABLE [dbo].[ECF_MOV_F01] ADD  CONSTRAINT [DF__ECF_MOV_F__DATA___08B54D69]  DEFAULT (getdate()) FOR [DATA_IMPORT]
GO
ALTER TABLE [dbo].[ECF_MOV_KE5Z] ADD  CONSTRAINT [DF__ECF_MOV_K__DATA___160F4887]  DEFAULT (getdate()) FOR [DATA_IMPORT]
GO
ALTER TABLE [dbo].[ECF_PROCESSADO] ADD  DEFAULT (getdate()) FOR [DATA_PROCESSAMENTO]
GO
ALTER TABLE [dbo].[ECF_SALDO] ADD  DEFAULT ((1)) FOR [ORDEM]
GO
ALTER TABLE [dbo].[ECF_SALDO] ADD  DEFAULT ((2)) FOR [CODIGO_LINHA]
GO
ALTER TABLE [dbo].[ECF_SALDO] ADD  DEFAULT ('Estoques no Início do Período de Apuração') FOR [DESC_L210]
GO
ALTER TABLE [dbo].[ECF_SALDO] ADD  DEFAULT ((1)) FOR [SUBGRUPO]
GO
ALTER TABLE [dbo].[ECF_SALDO] ADD  DEFAULT (getdate()) FOR [DATA_IMPORT]
GO
ALTER TABLE [dbo].[ECF_VINCULO] ADD  CONSTRAINT [DF__ECF_VINCU__DATAC__4316F928]  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
